extends layout

block content
	div.container(ng-controller='mainCtrl')
		div.page-header
			h2 {{ title }} 
				small {{ subtitle }}

		div.row
			div.gameContainer
				div.col-md-12
					canvas#stage(height='400px',width='1110px', game-stage)