doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/vendors/bootstrap/dist/css/bootstrap.css')
  body(ng-app='ngPacman' ng-cloak)
    block content

    script(src='/javascripts/vendors/jquery/dist/jquery.min.js')
    script(src='/javascripts/vendors/angular/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app/requestAnimationFrame.js')
    script(src='/javascripts/app/main.js')   
    script(src='/javascripts/app/services/canvasService.js')
    script(src='/javascripts/app/services/playerModel.js')
    script(src='/javascripts/app/services/ballModel.js')
    script(src='/javascripts/app/controllers/mainCtrl.js')
    script(src='/javascripts/app/directives/gameStage.js') 